/* Base */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

/* Header fixo */
header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  padding: 10px 40px;
  box-sizing: border-box;
  border-bottom: 2px solid #fae952;
  z-index: 10;
}

/* NAV – hover dourado */
.navbar-nav .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: color .25s;
}

.navbar-nav .nav-link:hover {
  color: #fae952 !important;
}

.navbar-nav .dropdown-menu {
  background: black !important;
  border: none;
  border-radius: 12px;
  backdrop-filter: blur(6px);
  padding: 12px 0;
}

.navbar-nav .dropdown-item {
  color: #ccc !important;
  padding: 10px 20px;
}

.navbar-nav .dropdown-item:hover {
  background: rgba(255,255,255,0.10) !important;
  color: #fae952 !important;
}

/* Logo */
.logo img {
  height: 90px;
}

/* Menu */
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px;
}

li {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}


nav a:hover {
  color: #fae952;
}

/* Ícones */
.icons img {
  width: 25px;
  margin-left: 15px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s;
  cursor: pointer;
}

/* Imagem principal */
.principal img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  filter: brightness(85%);
}

/* Texto sobre a imagem */
/* Texto de destaque que fica imagem */ 
.texto 
{ position: absolute; 
top: 60%;
left: 10%;
background-color: rgba(255, 255, 255, 0.25);
padding: 25px 35px; font-family: 'Cinzel Decorative', cursive;
font-size: 50px; 
color: #f5c742; line-height: 1.1;  
}

 .texto p 
 { margin: 0;
  font-size: 40px;
  color: #f5c742; font-family: 'Montserrat', sans-serif; font-weight: 500; 
 }
 
/* Cards */
#cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px 0;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  text-align: center;
  background: #fff;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding-bottom: 2px;
}

.card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 12px;
}

.card button {
  margin-top: 12px;
  padding: 10px 20px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 70px;
  cursor: pointer;
  transition: 0.2s;
}

.card button:hover {
  background-color: #fae952;
  transform: scale(1.05);
}

/* Contatos */
.contatos {
  background: #000;
  padding: 50px 20px;
  text-align: center;
  color: #fff;
}

.icons i {
  color: #fae952 !important;
  font-size: 28px;
  margin-left: 15px;
}


.contatos i {
  color: #fae952 !important;
  font-size: 22px;
}

.contatos img {
   filter: sepia(1) saturate(1300%) hue-rotate(10deg) brightness(1.7);
}
/* Proteção para o VLibras */

.logo-secao {
  width: 150px;
  margin-bottom: 30px;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 15px 0;
}

.linha span {
  font-size: 18px;
}

.copy {
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  ul {
    flex-wrap: wrap;
    gap: 25px;
  }

  .texto {
    font-size: 34px;
    left: 5%;
    padding: 18px 25px;
  }

  .texto p {
    font-size: 26px;
  }
}
