/* BASE */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  padding: 10px 40px;
  border-bottom: 2px solid #fae952;
  z-index: 1000;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  transition: color 0.25s;
}

.navbar-nav .nav-link:hover {
  color: #fae952 !important;
}


.nav-item.dropdown {
  position: relative;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
  top: 45px !important;        
  left: 0;
  
  background: rgba(0, 0, 0, 0.95) !important;
  padding: 10px 0;
  border-radius: 12px;
  border: none;
  min-width: 200px;
  backdrop-filter: blur(4px);

  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}


.nav-item.dropdown:hover .dropdown-menu {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

/* ITENS DO DROPDOWN */
.navbar-nav .dropdown-item {
  padding: 14px 22px;
  font-size: 16px;
  color: #e5e5e5 !important;
  transition: 0.2s;
}

.navbar-nav .dropdown-item:hover {
  background: rgba(255,255,255,0.15) !important;
  color: #fae952 !important;
}
/* LOGO */
.logo img {
  height: 100px;
}

/* MENU PRINCIPAL */
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 70px;
}

li {
  font-size: 17px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

nav a:hover {
  color: #fae952;
}

/* ICONS */
.icons img {
  width: 26px;
  margin-left: 15px;
  cursor: pointer;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}

.icons img:hover {
  transform: scale(1.15);
  filter: brightness(0) invert(1) sepia(1) saturate(2000%) hue-rotate(10deg);
}

/* IMAGEM PRINCIPAL */
.principal img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  filter: brightness(85%);
}


.texto {
  position: absolute;
  top: 45%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.18);
  padding: 35px 45px;
  border-radius: 20px;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 48px;
  color: #f5d15c;
  line-height: 1.1;
  backdrop-filter: blur(4px);
}

.texto p {
  margin: 0;
  font-size: 42px;
  color: #f5d15c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* CARDS */
#cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px 0;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 12px;
}

.card button {
  margin-top: 12px;
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 70px;
  cursor: pointer;
  transition: 0.2s;
}

.card button:hover {
  background-color: #fae952;
  transform: scale(1.05);
}

/* CONTATOS */
.contatos {
  background: #000;
  padding: 50px 20px;
  text-align: center;
  color: #fff;
}

.contatos i {
  color: #fae952 !important;
  font-size: 22px;
}

.logo-secao {
  width: 150px;
  margin-bottom: 30px;
}

/* RESPONSIVIDADE */
   

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  ul {
    flex-wrap: wrap;
    gap: 25px;
  }

  .texto {
    font-size: 34px;
    left: 5%;
    padding: 18px 25px;
    top: 55%;
  }

  .texto p {
    font-size: 26px;
  }
}
